<div class="collection-container">
  <% @works.each do |work| %>
    <div class="work-content">
      <div class="work">
        <%= image_tag work.image.url %>
        <% if work.link_url %>
          <div class="link-box">
            <%= link_to("#{work.link_url}", id:"site-btn" ) do %>
              <span>Visit page</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @works %>
</div>