<div class="collection-container">
  <% @works.each do |work| %>
    <div class="work-container">
      <div class="work">
        <img src="<%= "/work_image/#{work.image_name}" %>">
      </div>
    </div>
  <% end %>
  <%= paginate @works %>
</div>