<div class="top-container">
  <div class="visual-container">
    <div id="main-visual"></div>
    <div class="visual-navi">
      <ul>
        <li>Works</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
  <div id="about">
    <div class="description">
      <div class="text-area">
        <h2>About Me</h2>
        <p>textが入りますtextが入りますtextが入りますtextが入りますtextが入りますtextが入りますtextが入りますtextが入りますtextが入りますtextが入ります</p>
      </div>
    </div>
    <div class="about-image">
      <img src="/visual_image/pf_about.png">
    </div>
  </div>
  <div id="works">
    <div class="work-text">
      <h2>Works</h2>
    </div>
    <% @three_works.each do |work| %>
      <div class="work-container">
        <%= image_tag work.image.url %>
        <% if work.link_url %>
          <div class="url-link">
            <%= link_to("#{work.link_url}", class:"site-btn") do %>
              <span>Visit page</span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="to_collection">
      <%= link_to("/collection") do %>
        <div id="btn" class="top-btn">
          <span>more works<span>
        </div>
      <% end %>
    </div>
  </div>
  <div id="contact">
    <div class="contact-text">
      <h2>Contact</h2>
    </div>
    <div class="contact-content">
    </div>
  </div>
</div>