<div class="top-container">
  <div class="visual-container">
    <div id="main-visual"></div>
    <div class="visual-navi">
      <ul>
        <li>Works</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
  <div id="about">
    <div class="description">
      <div class="text-area">
        <h2>About Me</h2>
        <p>textが入りますtextが入りますtextが入りますtextが入りますtextが入りますtextが入りますtextが入りますtextが入りますtextが入りますtextが入ります</p>
      </div>
    </div>
    <div class="about-image">
      <img src="/visual_image/pf_about.png">
    </div>
  </div>
  <div id="works">
    <div class="work-text">
      <h2>Works</h2>
    </div>
    <div class="work-container"></div>
    <div class="work-container"></div>
    <div class="work-container"></div>
  </div>
  <div id="contact">
    <div class="contact-text">
      <h2>Contact</h2>
    </div>
    <div class="contact-content">
    </div>
  </div>
</div>