@import "_variable";

.admin_login {
  width: 80%;
  height: 700px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
  grid-template-rows: 30px 280px 30px;

  .form-error {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    background-color: $notice;
    color: $scl;
    padding: 16px 10px;
  }

  .login_form {
    grid-column: 2/3;
    grid-row: 2/3;

    h2 {
      margin-top: 20px;
      text-align: center;
      font-size: 40px;
    }

    .form-control {
      display: block;
      width: calc(100% - 28px);
      height: 34px;
      padding: 6px 12px;
      margin-top: 20px;
      font-size: 14px;
      border: 2px solid $mcl;
      border-radius: 5px;
    }

    .submit-btn {
      width: 100%;
      margin-top: 30px;
      padding: 12px 0;
      @include btn-base($scl, $bcl);
      &:hover {
        @include hov($mcl);
      }
    }
  }
}